@import '../../styles/colors';
@import '../../styles/variables';

.DropArea {
  background-image: url("../../images/logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid $blue;
  display: flex;
  height: 3 * $tileSize;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 3 * $tileSize;
}
