@import "../../styles/colors";
@import "../../styles/variables";

.DragArea {
  align-items: center;
  background: $red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  min-height: 200px;
  padding: 20px;
  width: 300px;
}

.DragArea__drag-tile {
  background: url("../../images/logo.png") no-repeat 0 0;
  background-size: 3 * $tileSize 3 * $tileSize;
  border: $borderWidth solid black;
  height: $tileSize - 2 * $borderWidth;
  margin-bottom: 10px;
  margin-right: 10px;
  opacity: 1;
  overflow: hidden;
  transition: opacity 150ms ease-in-out;
  width: $tileSize - 2 * $borderWidth;

  &--done {
    opacity: 0;
  }

  &--dragging {
    opacity: 0.5;
  }

  @for $i from 0 through 8 {
    &--#{$i} {
      background-position-x: $i % 3 * -$tileSize;
      background-position-y: floor($i / 3) * -$tileSize;
    }
  }
}
