@import "../../styles/colors";
@import "../../styles/variables";

.ScoreBoard {
  width: 300px;
}

.ScoreBoard__header {
  margin-bottom: 10px;
  text-align: center;
}

.ScoreBoard__table {
  background: $light;
  border: $borderWidth * 2 solid $blue;
  text-align: right;
  width: 100%;

  td, th {
    padding: 12px 20px;
  }
}
